.emo-result-table .progress {
    margin-bottom: 0;
}

.task-progress img {
    position: relative;
    width: 60px;
    left: calc(50% - 30px);
}

.task-progress .progress {
    height: 30px;
    margin-top: 35px;
}

.task-status-done, .task-status-failed, .task-status-undefined {
    padding: 12px;
    color: white;
}

.task-status-done {
    background-color: #4cae4c;
}

.task-status-failed {
    background-color: #d9534f;
}

.task-status-undefined {
    background-color: #777777;
}


/* Taking a Task Form */

#takeTaskForm input[type=checkbox] {
    display: none;
}

/*
 * Manage a Task form
 */
#manageTaskForm input[type=checkbox] {
    display: none;
}

/* Task page */
#webcamBlock {
    display: none;
}

#fileBlock {
    display: none;
}

.camera-shot-view {
    display: none;
}

#webcamImageForm {
    display: none;
}

#webcamImageForm input {
    display: none;
}