<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container task-history">
    <h3 class="page-header">
        Завершенный список
    </h3>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <img th:src="${photo}" id="taskPhotoImage" class="col-md-12"/>
            </div>
            <h4>
                Эмоциональная картина
            </h4>
            <table class="table emo-result-table">
                <tr th:each="emotion : ${emotions}">
                    <td class="text-right" style="width: 50%" th:text="${emotion.type.title}">keyvalue</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" th:style="'width: ' + ${emotion.value} + '%'"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <form class="col-md-9" id="historyTaskForm">
            <h4>
                Список заданий
            </h4>
            <table class="table">
                <tr th:each="advice : ${historyAdviceList.items}" th:class="${advice.complete} ? 'sucsess' ">
                    <td style="width: 70px;">
                        <span>
                            <span th:class="${advice.complete} ? 'task-status-done glyphicon glyphicon-ok' : 'task-status-failed glyphicon glyphicon-remove'"></span>
                            </span>
                    </td>
                    <td th:text="${advice.userAdvice.advice.description}">
                        Задание
                    </td>
                    <td th:text="${advice.endDate ne null ? #dates.format(advice.endDate, 'dd.MM.yyyy HH:mm') : 'Не выполнен'}">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row">
        <div class="col-md-offset-5 task-status-done glyphicon glyphicon-lock"> Завершен
         <span th:text="${#dates.format(historyAdviceList.endDate, 'dd.MM.yyyy HH:mm')}">
             Завершен
         </span>
        </div>
    </div>
</div>
</body>
</html>
