<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<!--@thymesVar id="imageUploadForm" type="UploadImageForm"-->




<div class="container">
    <h2>
        Создание нового задания
    </h2>
    <div class="row" id="chooseBlock">
        <div class="col-md-5 col-md-offset-1 text-center">
            <h3>
                Сделать снимок
            </h3>
            <div class="well">
                <a href="#">
                    <img src="/images/webcam.png" th:src="@{/images/webcam.png}" alt="File" width="175" />
                </a>
                <div style="margin-top: 20px">
                    <button class="btn btn-primary text-center chooseWebcamBlock">
                        Предпросмотр
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-5 text-center">
            <h3>
                Загрузить фото
            </h3>
            <div class="well">
                <a href="#">
                    <img src="/images/file.png" th:src="@{/images/file.png}" alt="File" width="175" />
                </a>
                <div style="margin-top: 20px">
                    <button class="btn btn-primary text-center chooseFileBlock">
                        Открыть файл
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="row" id="webcamBlock">
        <div class="col-md-12">
            <img src="#" style="width: 500px" class="camera-shot-view"/>
            <div class="wrapper">
                <div id="camera-block">
                    <video autoplay="autoplay"></video>
                </div>
                <button class="btn btn-success camera-shot-btn" style="position: absolute; bottom: 20px; left: calc(50%  - 50px)">Сделать фото</button>
            </div>
            <script type="text/javascript" src="/js/webcam.js"></script>
            <script type="text/javascript" src="/js/webcam-shot.js"></script>
            <form method="POST" enctype="multipart/form-data" th:object="${imageUploadForm}"
                  action="/task" th:action="@{/task}" id="webcamImageForm" style="margin-top: 10px;">
                    <input type="text" name="imageBase64" />
                <button type="button" id="webcamImageSend" class="btn btn-primary">
                    Отправить
                </button>
                <button type="button" id="webcamReset" class="btn btn-default">
                    Отменить
                </button>
            </form>
        </div>
    </div>
    <div class="row" id="fileBlock">
        <div class="col-md-12">
            <h3>Загрузка фотографии</h3>
            <form method="POST" class="row" enctype="multipart/form-data" th:object="${imageUploadForm}"
                  action="/task" th:action="@{/task}">
                <label class="control-label col-md-12" for="image" style="margin-top: 20px;">Выберите файл:</label>
                <div class="col-md-12">
                    <input type="file" class="" id="image" name="image" />
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                    <h4>ИЛИ</h4>
                </div>
                <label class="control-label col-md-12" for="imageUrl" style="margin-top: 20px;">Введите URL адрес изображения:</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="http://hackcathon.com/images/photo.[png, jpeg, jpg]" />
                </div>

                <div class="col-md-12" style="margin-top: 10px;">
                    <button id="uploadBtn" type="submit" class="btn btn-default">Отправить</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script type="text/javascript" src="/js/taskjs" th:src="@{/js/task.js}"></script>
</body>
</html>
