<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h3 class="page-header">
        Создание нового задания
    </h3>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <img th:src="${photo}" id="taskPhotoImage" class="col-md-12"/>
            </div>
            <h4>
                Настроение
            </h4>
            <table class="table emo-result-table">
                <tr th:each="emotion : ${emotions}">
                    <td class="text-right" style="width: 50%" th:text="${emotion.type.title}">keyvalue</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" th:style="'width: ' + ${emotion.value} + '%'"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <form class="col-md-9" id="takeTaskForm" method="post"
              action="/task/take" th:action="@{/task/take}">
            <h4>
                Выберите себе задания:
            </h4>
            <table class="table">
                <tr th:each="advice,status : ${adviceList}">
                    <td style="width: 70px;">
                        <input type="checkbox" name="adviceIds" th:value="${status.index}"/>
                        <span class="btn btn-default advice-check">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                    </td>
                    <td th:text="${advice.description}" colspan="2">
                        Необходимо выполнить задание
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td style="width: 150px;"></td>
                    <td></td>
                </tr>

                <tr class="bg-success" id="customUserAdvice">
                    <td colspan="2">
                        <input type="checkbox"/>
                        <select name="userEmotions" style="display: none;" class="form-control">
                            <option th:each="emotion : ${emotions}" th:value="${emotion}"
                                    th:text="${emotion.type.title}">gender
                            </option>
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" style="display:none;"
                                  placeholder="Добавьте ваш совет">
                            </textarea>

                        <span class="btn btn-default" id="addCustomUserAdvice" style="float: right">
                            <span class="glyphicon glyphicon-plus"></span>
                            Добавить совет
                        </span>
                    </td>
                </tr>
            </table>

            <div>
                <button type="submit" class="btn btn-primary" disabled="disabled">
                    Начать
                </button>
                <button class="btn btn-default">
                    Отменить
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/take-task.js" th:src="@{/js/take-task.js}"></script>
</body>
</html>
